
Button {
	box-shadow:inset 0px -3px 7px 0px lightgray;
	background:linear-gradient(to bottom, lightgray 5%, darkgray 100%);
	background-color: lightgray;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
  padding:3px 15px;
  margin: 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
Button:hover {
	background:linear-gradient(to bottom, darkgray 5%, lightgray 100%);
	background-color:#0688fa;
}
Button:active {
	position:relative;
	top:1px;
}

.beer-pump-type, .beer-pump-outflow, .outflow, .type {
  margin-right: 5px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}